@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
  font-size: 15px;
  color: #403833;
  letter-spacing: 0.02rem;
  line-height: 1.1rem;
  font-weight: 400;
}
h1 {
  color: #403833;
  font-size: 2rem;
  letter-spacing: 0.02rem;
  line-height: 2.5rem;
  font-weight: 830;
}

h2 {
  color: #403833;
  font-size: 1.4rem;
  letter-spacing: 0.02rem;
  line-height: 1.9rem;
  font-weight: 575;
}
h3 {
  color: #403833;
  font-size: 1.2rem;
  letter-spacing: 0.02rem;
  line-height: 1.8rem;
  font-weight: 500;
}

span {
  font-size: 15px;
  color: #403833;
  letter-spacing: 0.02rem;
  line-height: 1.2rem;
  font-weight: 600;
}

button {
  font-family: "DM Sans", sans-serif;
  font-size: 15px;
  color: #403833;
  letter-spacing: 0.02rem;
  line-height: 1rem;
  font-weight: 600;
  background: #fff100;
  width: 145px;
  padding-top: 15px;
  transition: 3ms ease-out;
}

button:hover {
  color: #403833;
  font-weight: 800;
}
button:active {
  color: #403833;
  font-weight: 600;
}
.colores-base {
  color: #403833;
  color: #594f48;
  color: #8c8987;
  color: #bfbdba;
  color: #f2f2f0;
  color: #fff100;
  color: #ccc429;
}

img {
  object-fit: cover;
}
